.main{
	background-color : #f5f5f5;
	position:relative;
}
.bar{
	align:center;
	border:1px solid white;
	background-color:white;
	margin:20px;
	
}
.bot{
	position:absolute;
	bottom:0px;
	right:0px;
	
}
