.main{
	background-color : #f5f5f5;
	
}
.bar{
	align:center;
	border:1px solid white;
	background-color:white;
	margin:20px;
	position:relative;
	
}
.bottom{
	
	text-align:right;
	font-style:italic;
}
